# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DGlez\Documents\MOD WEB DINAMICAS\1. DiseñoWeb HTML y CSS\Trabajo1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
